.emotions-body {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* animation: mymove 5s infinite; */
}
.fadingout {
  background-color: #f41eed;
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  font-size: 20px;
  margin: 6px 6px 4px 10px;
  opacity: 0.4;
  transition: 0.3s;
  border-radius: 15px;
}
input[type="checkbox"]:checked + label.fadingout {
  background-color: red;
  opacity: 1;
}

/* .btn-check:active {
    background-color: black;
  } */

.fadingout:hover {
  opacity: 1;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* @keyframes mymove {
    from {
      left: 0px;
    }
    to {
      left: 200px;
    }
  } */
