@import url("https://fonts.googleapis.com/css?family=Peralta&display=swap");

.Photo {
  display: block;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.cardBorder {
  background-color: blueviolet;
  border-radius: 12px;
  box-shadow: 5px;
  margin-bottom: 2px;
}

.FindMore {
  display: block;
  background-color: transparent;
  padding: 5px 10px;
  /* border: 2px; */
  border-color: rgb(140, 82, 255) !important;
  /* border-radius: 12px; */
  color: white;
  font-family: Fascinate;
  border: 0;
  outline: 0;
}

.card-text {
  color: white;
  font-family: Peralta;
  text-align: center;
}

.card-title {
  color: rgb(248, 113, 136);
  font-family: Peralta;
  text-align: center;
}
