@import url("https://fonts.googleapis.com/css?family=Fascinate&display=swap");

.FeelingModdy {
  font-size: larger;
  color: white;
  font-family: Fascinate;
  margin-left: 20px !important;
}

.Loglog {
  font-family: Fascinate;
  color: rgb(248, 113, 136);
}

.backgroundImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 725px;
}

.logForm {
  margin: auto;
  width: 50%;
  padding-top: 160px;
  padding-left: 110px;
}
.CreateAccount {
  margin-left: 100px;
}

.LoginButton {
  display: inline-block;
  background-color: rgb(248, 113, 136);
  padding: 5px 10px;
  border-radius: 12px;
  color: white;
  font-family: Fascinate;
  border: 0;
  outline: 0;
}
