@import url("https://fonts.googleapis.com/css?family=Fascinate&display=swap");

.NavNav {
  background-color: rgb(255, 189, 88);
  margin-top: 0px;
  margin-bottom: -60px;
  padding: 0px;
  position: relative;
}

img {
  margin-left: 490px;
  max-width: 200px;
  width: auto;
  height: auto;
}

.logout {
  display: block;
  background-color: rgb(140, 82, 255);
  padding: 5px 10px;
  border-radius: 12px;
  color: white;
  transform: translateY(-6px);
  font-family: Fascinate;
  border: 0;
  outline: 0;
}

.myaccount {
  display: block;
  background-color: rgb(140, 82, 255);
  padding: 5px 10px;
  border-radius: 12px;
  color: white;
  transform: translateY(-6px);
  font-family: Fascinate;
  border: 0;
  outline: 0;
}
