@import url("https://fonts.googleapis.com/css?family=Fascinate&display=swap");

.NavNav {
  background-color: rgb(255, 189, 88);
  margin-top: 0px;
  margin-bottom: 0px;
}

.image {
  margin-left: 320px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logout {
  display: block;
  background-color: rgb(140, 82, 255);
  padding: 5px 10px;
  border-radius: 12px;
  color: white;
  transform: translateY(-6px);
  font-family: Fascinate;
  border: 0;
  outline: 0;
}
